POSTGRES_DB=tiktok_redirect
POSTGRES_USER=tiktok_redirect
POSTGRES_PASSWORD=tiktok_redirect_password
POSTGRES_PORT=5432

DATABASE_URL=postgres://tiktok_redirect:tiktok_redirect_password@localhost:5432/tiktok_redirect
PGSSLMODE=disable
PG_POOL_MAX=5
PRODUCTS_CACHE_TTL_MS=30000
REDIRECT_CACHE_TTL_MS=300000
